{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tesoreronacionals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tesoreroNacional in tesoreroNacionals %}
            <tr>
                <td><a href="{{ path('tesoreronacional_show', { 'id': tesoreroNacional.id }) }}">{{ tesoreroNacional.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tesoreronacional_show', { 'id': tesoreroNacional.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tesoreronacional_edit', { 'id': tesoreroNacional.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tesoreronacional_new') }}">Create a new tesoreroNacional</a>
        </li>
    </ul>
{% endblock %}
